/.vscode
/about.html
/calculator.py
/copying.html
/css
/css.html
/CssPreprocessors.html
/forms&txtfields.html
/Images
/images.html
/index.html
/js
/links.html
/prog1.html
/progect1.html
/selectors.html
/smth.py
/specialHTML5.html
/specialTags.html
/tables.html