body{
    margin: 0;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    background-color: #78866B;
}
ul{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    display: flex;
    flex-direction: column;
}
.nav{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #78866b55;
    position: fixed;
}

.nav-list{
    padding-left: 0;
    display: flex;
    align-items: center;
}
$button-donate: 22px;
.nav-list li{
    padding: 0 20px;
    &:last-of-type a{
        display: flex;
        align-items: center;
        height: 45px;
        padding: 0 20px;
        background-color: whitesmoke;
        transition: all 250ms ease;
        font-size: $button-donate;
        border-style: solid;
        border-color: #6f7c72;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        &:hover{
            background-color: #313933;
            color: whitesmoke;
            transform: scale(1.1);
        }
    }
}
.nav-list-item{
    font-size: $button-donate;
    color: yellow;
    transition: all .25s ease;
    position: relative;
    &:hover{
        color: #00A6FF;
    }
    &:after{
        content: "";
        background: #00A6FF;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transition: all .25s ease;
    }
    &:hover::after{
        transform: scaleX(1);
    }
}
.nav-list-donate-button{
    margin: 0 50px;
}
.logo{
    padding: 5px 40px;
    height: 80px;
}
.help-icon{
    width: calc($button-donate + 10px);
    padding-right: 10px;
}
.header-content-image{
    display: flex;
    margin-top: 94px;
    justify-content: center;
}
.header-content-image img{
    width: 100%;
    
}
.about-us-text{
    width: 70%;
    text-align: center;
    margin: 100px auto;
    background-color: whitesmoke;
    padding: 30px 10px;
    border-style: solid;
    border-color: #3b413d;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
.about-us-text-title{
    margin: 10px 0;
    font-size: 40px;
    text-decoration: underline;
}
.about-us-text-inform{
    font-size: 30px;
}
.reports{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
}
.report{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    width: 85%;
    height: 500px;
    background-color: whitesmoke;
    border: 5px solid #4f5752;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.report .picture{
    height: 350px;
    width: 600px;
    object-fit: cover;
    border: 2px solid #78866B;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.report .text{
    font-size: 25px;
}
.donate{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    font-size: 22px;
    border: 5px solid #3b413d;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.card-data {
    width: 500px;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #3b413d;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.personal-data{
    width: 500px;
    margin-left: 10px;
    padding: 20px;
}

label {
    margin-bottom: 8px;
    font-size: 20px;
}
input {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #91c4a5;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}
.footer{
    display: flex;
    background-color: #57614d;
    height: 60vh;
    margin-top: 150px;
    align-items: end;
    justify-content: space-between;
}
.contacts{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-left: 80px;
    margin-bottom: 50px;
}
.links-list{
    display: flex;
    margin-right: 50px;
    margin-bottom: 20px;
}
.link-icon{
    width: 50px;
    margin: 0 15px;
}
.company-name{
    position: absolute;
    margin-bottom: 380px;
    margin-left: 50vh;
}
.donate-container{
    padding-top: 110px;
}
